.navbar-bg{
    background: url(https://mapadeobras.seinfra.go.gov.br/assets/landing/img/header-bg.png) no-repeat center center;
    background-size: cover;
}
.map {
    min-height: 90vh;
    width: auto;
 }
.leaflet-right{
    display: none;
 }
 footer {
    background-color: #0064b6 !important;
 }

 footer h3, h6{
    color: #fff;
 }
 .footer-list {
    color: #fff;
    margin: 0;
    padding: 0;
}

.footer-list a{
    color:#fff
}
.ouvidoria{
    background: #2A9E0D;
    color: #fff;
    text-transform: uppercase;
}
.ouvidoria a{
    text-decoration: none;
    color: #fff;
}
.jquery-modal{
    z-index: 9999 !important;
}

.modal a.close-modal[class*="icon-"] {
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #000;
    border: 2px solid #fff;
    -webkit-border-radius:  26px;
    -moz-border-radius:     26px;
    -o-border-radius:       26px;
    -ms-border-radius:      26px;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
  }
.footer-border{
    border-bottom: 2px solid rgba(1,62,127,.2);
}
